/* Bandslist style for navbar  */
.BrandList-column {
  display: flex;
  justify-content:space-around;
  position: absolute;
  flex-wrap: wrap;
  left: 0;
  right: 0;   
  margin: auto;
  list-style: none;
  background-color: rgb(195, 206, 182);
  padding:10%;
  z-index: 2;
}

.BrandList-li{
  margin-bottom: 1.5rem;  
  margin-right: 2rem;
}
.BrandList-link {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Heebo', sans-serif;
  font-size: 25px;
}
  
.BrandList-link:hover {
  text-decoration: underline;
}

/* Bandslist style for toggler  */

.Brandlist-toggler-ul {
  list-style: none;
}

.Brandlist-toggler-ul li {
  margin: 2.3rem 0;
  border-bottom: .5px solid rgb(233, 227, 227);
}
.Brandlist-toggler-ul a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none; 
  color: #333;
}
.Brandlist-toggler-ul a:hover{
  color: purple;
}

  
