.feature-boxes {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .feature-box {
    width: 25%;
    height: 100%;
    display: inline-block;
    margin: 5px;
  }

  .lead{
    list-style: none;
  }  

  .Home {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Home-social{
    margin: 15px;
    border: none;
    background-color: transparent;
    color: rgb(2, 117, 216);
  }